.auth-flexdialog {
  display: flex;
  row-gap: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
  width: 290px;
  vertical-align: middle;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: auto;
}
