.auth-header-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 1.375rem 1.875rem;
  background-color: #ffffff;
  margin-bottom: 1rem;
}

.auth-header-nav img {
  width: auto;
  height: auto;
}

.auth-header-nav__lock {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
}

.auth-header-nav__lock div {
  margin-right: 1rem;
  color: #444444;
  font-size: 18px;
  line-height: 21px;
}
