<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Auth Cloud SDK Demo</title>

    <link rel="stylesheet" href="../complete-override.css">

    <!--<script type="module" src="https://unpkg.com/@trusona/touchpoint-sdk@0.0.2/dist/touchpoint-sdk.js"></script>-->
    <script type="module" src="/dist/touchpoint-sdk.js"></script>

    <script>

        let isProcessing = false
        const authButtonClicked = () => {
            isProcessing = true
            alert('Button Clicked')
        }

        document.addEventListener(
            "code-changed",
            (e) => {
                console.log('Auth Code Changed...', e.detail)
            },
            false,
        );

        document.addEventListener(
            "code-completed",
            (e) => {
                console.log('Auth Code Completed...', e.detail)
            },
            false,
        );

        /**
         * This shows how to call a public function of a web component
         */
        const resetOTP = () => {
            const otp = document.querySelector('code-input');
            otp.reset();
        }


        /**
         * Listen to events called from the default component
         */
        document.addEventListener(
            "sign-in-another-way-event",
            () => {
                console.log('Sign in another way called...')
            },
            false,
        );

        document.addEventListener(
            "perform-default-continue-event",
            (e) => {
                console.log('Default continue called...', e.detail)
            },
            false,
        );
    </script>

    <link rel="stylesheet" href="../styles.css">


</head>
<body>



<div class="demo-wrapper">
    <a href="https://www.trusona.com/" style="text-align: center">
        <img src="../../img/trusona.png" alt="Logo" width="300" height="110">
    </a>

    <default-touchpoint started="false"></default-touchpoint>
</div>

</body>
</html>
