<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Auth Cloud SDK Demo</title>
    <script type="module" src="/dist/touchpoint-sdk.umd.js"></script>
    <link rel="stylesheet" href="../styles.css">

</head>
<body>


<div class="demo-wrapper">
    <a href="https://www.trusona.com/" style="text-align: center">
        <img src="../../img/trusona.png" alt="Logo" width="300" height="110">
    </a>

    <flex-container minWidth="500px">
        <fido-passkey-details-card
                passkeyDetails="{
                'createdAt':'2023-10-12T17:12:13.183221Z',
                'createdOperatingSystem':'Mac OS',
                'passkeyActivity' : [
                    {
                        'lastUsedAt':'2023-10-13T17:12:13.183221Z',
                        'operatingSystem':'Android 14'
                    }
                ]
            }"
        >
        </fido-passkey-details-card>
    </flex-container>
</div>

</body>
</html>
