h2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.demo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
